* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  /* background-image: url("./Asserts/bg.jpg"); */
  background-size: cover;
  background-position: center 50px;
  color: white;
  font-family: "outfit";
  overflow-x: hidden;
  /* backdrop-filter: blur(2px); 
  z-index: -1; */
}

