/* NAVBAR CONTAINER */
.nav-wrapper {
  position: sticky;
  top: 0;
  z-index: 1000;

  display: flex;
  align-items: center;

  /* MENU LEFT, LOGO RIGHT */
  justify-content: space-between;

  padding: 14px 40px;
  background: #6f5f5f4a;   /* modern dark grey */
  backdrop-filter: blur(8px);
  box-shadow: 0 2px 8px rgba(66, 65, 65, 0.4);
}

/* LOGO */
.nav-logo img {
  height: 55px;
  width: auto;
  margin-right: 40px;  /* space between logo & menu */
}

/* MENU LIST */
.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap:55px;
  margin: 0;
  padding: 0;
}

/* LINKS */
.nav-menu li a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  transition: 0.3s ease;
}

.nav-menu li a:hover {
  color: #c028ff;
}

/* CONTACT BUTTON */
.contact-btn {
  padding: 8px 16px;
  border-radius: 25px;
  background: linear-gradient(90deg, #6c2cf3, #c028ff);
  color: white !important;
  /* font-weight: bold; */
}

.contact-btn:hover {
  opacity: 0.85;
}
