/* SECTION */
.skills-section {
  background-color: #111;
  padding: 60px 40px;
  min-height: 100vh;
}

/* TITLE */
.skills-title {
   color: #b515ff;
  font-size: 32px;
  text-align: center;
  margin-bottom: 60px;
  margin-bottom: 10px;
}

/* SUBTITLE */
.skills-subtitle {
  font-size:20px;
  color: #aaa;
  text-align: center;
  margin-bottom: 40px;
}

/* GRID LAYOUT */
.skills-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 3 items per row */
  gap: 30px;
  justify-items: center;
}

/* CARD STYLE */
.skill-card {
  background: #1e1e1e;
  padding: 20px;
  width: 180px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 0 12px rgba(142, 45, 226, 0.3);
  transition: 0.3s ease;
}

.skill-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 0 20px rgba(142, 45, 226, 0.6);
}

/* IMAGE STYLE */
.skill-img {
  width: 70px;
  height: 70px;
  object-fit: contain;
  margin-bottom: 12px;
   border-radius: 10px;
  filter: drop-shadow(0 0 8px rgba(192, 132, 255, 0.4));
}

/* NAME */
.skill-name {
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 6px;
}

/* LEVEL */
.skill-level {
  font-size: 1px;
  color: #c084fc;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .skills-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .skills-grid {
    grid-template-columns: 1fr;
  }
}
