/* Footer.css */
.footer {
  background-color: #282c34;
  color: white;
  padding: 20px 0;
  text-align: center;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.footer-image img {
  width: 70px;
  height: 70px;
  border-radius: 20%;
  margin-bottom: 15px;
}

.footer-content p {
  margin: 10px 0;
}

.social-links a {
  color: #fff;
  margin: 0 10px;
  text-decoration: none;
  font-size: 28px;
}

.social-links a:hover {
  color: #b515ff;
}

.footer-copyright {
  font-size: 14px;
  margin-top: 10px;
}
